@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #0F6DB8;
}

.center {
    width: 960px;
    margin: 0 auto;
}

#header {
    background-color: #414042;
}

#header .logo {
    padding: 5px 50px;
}

#header .title {
    background-color: #5d87a1;
    color: #fff;
    padding: 5px 50px;
    font-size: 30px;
}
#header .title .right {
    float: right;
}

#timeline {
    padding: 20px 10px;
}

#timeline .photo {
    float: left;
    margin: 0 10px 20px 0;
}


